body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}html,body{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}input{border:1px solid #b0b0b0;padding:3px 5px 4px;color:#979797;width:190px}address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:400}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}q:before,q:after{content:''}abbr,acronym{border:0}

body{
    padding:0 20px 0 20px;
    
}
.header{
    height: 50px;
    background-color: lightsalmon;
}

nav ul li{
    float: left;
    margin: 0 40px;
    line-height: 50px;
    text-decoration: none;
    color:white
}

main{
    max-width: 984px;
    margin: 0 auto 0 auto;
}

h2{
    font-size: 3em;
    color: darksalmon;
    margin-bottom: 0.75em;
}

p{
    margin-bottom: 1em;
}

footer{
    background-color: lightgrey;
}

.ui-accordion-header-active{
     color: #000000;
}
h3{ 
    color: grey;
}